<h1>
  Menu create by {{menus.creator.username}}</h1>
<button id="createnew" class="fa fa-plus btn btn-success" [routerLink]="['/manager/menu/create']"> Create new menu </button>
<ul>
  <li *ngFor="let menu of menus.creator_menus">
    <div class="menu-list">

      <div class="menu-list-left">
        <div class="rep-w3l-img">
          <img src="assets/images/m1.jpg" alt=" " class="img-responsive">
        </div>
        <div class="rep-w3l-text">
          <h4 [routerLink]="['/manager/menu/', menu._id]">{{menu.name}}</h4>
          <h5 *ngIf="menu.isCheck == 1" style="color:green">Published</h5>
          <h5 *ngIf="menu.isCheck == 0" style="color:red">Waiting</h5>
        </div>

        <button class="fa fa-edit btn btn-primary" [routerLink]="['/menu/', menu._id,'update']">Update menu</button>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </li>
</ul>