 <!-- about -->
 <div class="about" id="about">
    <div class="about-w3lsrow"> 
     
     <div class="col-md-7 col-sm-7 w3about-img"> 
       <div class="w3about-text"> 
         <h2 class="w3l-subtitle">About Us</h2>
         <p>The restaurant was isolated from the noisy and traffic environment of an active Ho Chi Minh City. This is an irresistible place where you can feel the peace, elegance with warm environment decorated by nice garden, central swimming pool and luxurious terrace – the specific style of Europe.
          You will live exactly European moment with specific European cuisine and casual service right in Ho Chi Minh City.
          We are welcome all privates, families, and even big groups as our capacity is up to 120 seats - an indispensible place for royal events.</p>
       </div>
     </div> 
     <div class="clearfix"> </div>
   </div>
 </div>

<!-- /about-bottom -->
