<!-- <div class="col-md-6 col-md-offset-3">
  <h1>Hi {{currentUser.user.username}}!</h1>
  <h3>You are login as {{currentUser.user.role}}</h3>
  <p><a [routerLink]="['/login']">Logout</a></p>
</div> -->
<div class="main" id="home">
  <div class="banner-silder">
    <div id="JiSlider" class="jislider">

      <div class="w3layouts-banner-top">

        <div class="container">
          <div class="agileits-banner-info">
            <span>K-Restaurant</span>
            <h3>Special Food</h3>
            <p>Where taste meets the myth</p>

          </div>
        </div>
      </div>




    </div>
  </div>

  <!-- //banner -->
  
<!-- footer -->
<div class="footer">
		<div class="container">
			<h4>Subscribe to <span>Newsletter</span></h4>
			<form action="#" method="post">
				<input type="email" name="Email" placeholder="Enter Your Email..." required="">
				<input type="submit" value="Send">
			</form>
			<div class="agile_footer_copy">
				<div class="w3agile_footer_grids">
					<div class="col-md-4 w3agile_footer_grid">
						<h3>About Us</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>Excepteur sint occaecat cupidatat 
							non proident, sunt in culpa qui officia deserunt mollit.</span></p>
					</div>
					<div class="col-md-4 w3agile_footer_grid">
						<h3>Contact Info</h3>
						<ul>
							<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
							<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
							<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
						</ul>
					</div>
					<div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1">
						<h3>Navigation</h3>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a class="scroll" routerLink='/about'>About</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a class="scroll" href="/menu">Menu</a></li>
							<li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span><a class="scroll" href="#contact">Contact Us</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="w3_agileits_copy_right_social">
				<div class="col-md-6 agileits_w3layouts_copy_right">
					<p>&copy; 2017 Flavorful. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
				</div>
				<div class="col-md-6 w3_agile_copy_right">
					<ul class="agileinfo_social_icons">
						<li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="agileinfo_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //footer -->
</div>