<!-- <div class="col-md-6 col-md-offset-3">
  <h1>Hi {{currentUser.user.username}}!</h1>
  <h3>You are login as {{currentUser.user.role}}</h3>
  <p><a [routerLink]="['/login']">Logout</a></p>
</div> -->
<div class="main" id="home">
  <div class="banner-silder">
    <div id="JiSlider" class="jislider">

      <div class="w3layouts-banner-top">

        <div class="container">
          <div class="agileits-banner-info">
            <span>Flavorful</span>
            <h3>Fresh Food</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>

          </div>
        </div>
      </div>




    </div>
  </div>

  <!-- //banner -->
</div>