<!-- <div class="col-md-6 col-md-offset-3">
  <h1>Hi {{currentUser.user.username}}!</h1>
  <h3>You are login as {{currentUser.user.role}}</h3>
  <p><a [routerLink]="['/login']">Logout</a></p>
</div> -->
<div class="main" id="home">
	<div class="banner-silder">
		<div id="JiSlider" class="jislider">

			<div class="w3layouts-banner-top">

				<div class="container">
					<div class="agileits-banner-info">
						<span>K-Restaurant</span>
						<h3>Special Food</h3>
						<p>Where taste meets the myth</p>
						<input type="submit" value="Explore now >>" [routerLink]="['/menu']">
					</div>
				</div>
			</div>




		</div>
	</div>

	<!-- //banner -->


</div>