<h1>Welcome admin</h1>
<h2>Menu request</h2>
<ul>
  <li *ngFor="let menu of menus">
  <div class="menu-list">
                          
    <div class="menu-list-left">
      <div class="rep-w3l-img">
        <img src="assets/images/m1.jpg" alt=" " class="img-responsive">
      </div>
        <div class="rep-w3l-text"   >
        <h4  [routerLink]="['/menu', menu._id]" >{{menu.name}}</h4>
        <h6>Waiting for check</h6>
        <button (onClick)="checkMenu()">Accept</button>
        <button>Reject</button>
        
      </div>
      
      <div class="clearfix"> </div>
    </div>
    <div class="menu-list-right">
     
    </div>
    <div class="clearfix" > </div>
  </div>	
</li>
</ul>

