<h1 style="text-align: center">Published Menu</h1>
<ul>
  <li *ngFor="let menu of menus">
    <div class="menu-list" [routerLink]="['/menu', menu._id]">

      <div class="menu-list-left">
        <div class="rep-w3l-img">
          <img src="assets/images/m1.jpg" alt=" " class="img-responsive">
        </div>
        <div class="rep-w3l-text">
          <h4>{{menu.name}}</h4>
          <h6>Created by {{menu.creator.name}}</h6>
        </div>

        <div class="clearfix"> </div>
      </div>
      <div class="menu-list-right">

      </div>
      <div class="clearfix"> </div>
    </div>
  </li>
</ul>