<!-- <h1 style="text-align:center">Please log in first! </h1>
<br>
<br>
<div class="book-form agileits-login">
  <form (ngSubmit)="login()" >
    <div class="agileits_reservation_grid">
      <div class="span1_of_1">
        <label>USERNAME : </label> 
        <div class="book_date"> 
          <i class="fa fa-user" aria-hidden="true"></i>
            <input id="username"  type="text"  name="username" [(ngModel)]="model.username" #username="ngModel" required>

        </div>					
      </div>
      <div class="span1_of_1">
      
        <label>PASSWORD : </label>
        <div class="section_room">
          <i class="fa fa-key" aria-hidden="true"></i>
          <input  id="password" type="password" name="password"  [(ngModel)]="model.password" #password="ngModel" required>
        </div>	
      </div>
      
      <div class="clearfix"></div>
    </div> 
    <input [disabled]="loading" type="submit" value="Log in">
    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </form>
</div>
 -->

<div class="agile-login">

  <div class="wrapper">
    <h2>Sign In</h2>
    <div class="w3ls-form">
      <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <label>Username</label>
        <input [ngClass]="{ 'has-error': f.submitted && !username.valid }" id="username" type="text" placeholder="Username" name="username"
          [(ngModel)]="model.username" #username="ngModel" required>
        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        <label>Password</label>
        <input [ngClass]="{ 'has-error': f.submitted && !password.valid }" id="password" type="password" name="password" placeholder="Password"
          [(ngModel)]="model.password" #password="ngModel" required>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        <input type="submit" value="Log In" />
        <img style="position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        <a id="register" [routerLink]="['/register']"> Register</a>
      </form>
    </div>


  </div>
  <br>

</div>