
<!-- <div class="agile_menu" id="menu">
  <div class="container">
  <h3 class="w3_heade_tittle_agile">MENU 1</h3>
  <p class="sub_t_agileits">Created by tienkhoa</p>
  <div class="menu_w3ls_agile_top_section">
  <div class="w3l_chill"> 
          <img src="assets/images/ab1.jpg" alt=" " class="img-responsive">
      </div> 
    <div class="ziehharmonika">
    <h3>BREAKFAST</h3>
    <div>
        <div class="w3_agile_recipe-grid">
                  <div class="col-md-6 menu-grids">
                  <div class="menu-text">
                        
                    <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m1.jpg" alt=" " class="img-responsive">
                      </div>
                         <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                    <div class="menu-text-right">
                      <h4>$ 50</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>	

                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m2.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                  <div class="menu-text-right">
                    <h4>$25</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m3.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                    
                      <div class="clearfix"> </div>
                    </div>

                  <div class="menu-text-right">
                    <h4>$30</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
                 <div class="col-md-6 menu-grids">
                  <div class="menu-text">
                        
                    <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m4.jpg" alt=" " class="img-responsive">
                      </div>
                         <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                    <div class="menu-text-right">
                      <h4>$ 50</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>	

                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m5.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>

                  <div class="menu-text-right">
                    <h4>$25</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m6.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                    
                      <div class="clearfix"> </div>
                    </div>
                  <div class="menu-text-right">
                    <h4>$30</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
              <div class="clearfix"> </div>
            </div>

    </div>
    <h3>LUNCH</h3>
    <div>
       <div class="w3_agile_recipe-grid">
                                  <div class="col-md-6 menu-grids">
                  <div class="menu-text">
                        
                    <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/f1.jpg" alt=" " class="img-responsive">
                      </div>
                         <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                    <div class="menu-text-right">
                      <h4>$ 50</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>	

                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/f2.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                  <div class="menu-text-right">
                    <h4>$25</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/f3.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                    
                      <div class="clearfix"> </div>
                    </div>

                  <div class="menu-text-right">
                    <h4>$30</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
                 <div class="col-md-6 menu-grids">
                  <div class="menu-text">
                        
                    <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/f4.jpg" alt=" " class="img-responsive">
                      </div>
                         <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                    <div class="menu-text-right">
                      <h4>$ 50</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>	

                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/f5.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>

                  <div class="menu-text-right">
                    <h4>$25</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/f6.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                    
                      <div class="clearfix"> </div>
                    </div>
                  <div class="menu-text-right">
                    <h4>$30</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
              <div class="clearfix"> </div>
            </div>

    </div>
    <h3>TO DAY SPECIALS</h3>
    <div>
        <div class="w3_agile_recipe-grid">
                                  <div class="col-md-6 menu-grids">
                  <div class="menu-text">
                        
                    <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m1.jpg" alt=" " class="img-responsive">
                      </div>
                         <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                    <div class="menu-text-right">
                      <h4>$ 50</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>	

                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m2.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                  <div class="menu-text-right">
                    <h4>$25</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m3.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                    
                      <div class="clearfix"> </div>
                    </div>

                  <div class="menu-text-right">
                    <h4>$30</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
                 <div class="col-md-6 menu-grids">
                  <div class="menu-text">
                        
                    <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m4.jpg" alt=" " class="img-responsive">
                      </div>
                         <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                    <div class="menu-text-right">
                      <h4>$ 50</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>	

                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m5.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>

                  <div class="menu-text-right">
                    <h4>$25</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m6.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                    
                      <div class="clearfix"> </div>
                    </div>
                  <div class="menu-text-right">
                    <h4>$30</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
              <div class="clearfix"> </div>
            </div>

    </div>
    <h3>DRINKS</h3>
    <div>
       <div class="w3_agile_recipe-grid">
                                  <div class="col-md-6 menu-grids">
                  <div class="menu-text">
                        
                    <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/dd1.jpg" alt=" " class="img-responsive">
                      </div>
                         <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>Itaque earum rerum hic tenetur </h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                    <div class="menu-text-right">
                      <h4>$ 50</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>	

                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/dd2.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>Itaque earum rerum hic tenetur </h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                  <div class="menu-text-right">
                    <h4>$25</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/dd3.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>Itaque earum rerum hic tenetur </h6>
                      </div>
                    
                      <div class="clearfix"> </div>
                    </div>

                  <div class="menu-text-right">
                    <h4>$30</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
                 <div class="col-md-6 menu-grids">
                  <div class="menu-text">
                        
                    <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/dd4.jpg" alt=" " class="img-responsive">
                      </div>
                         <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>Itaque earum rerum hic tenetur </h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                    <div class="menu-text-right">
                      <h4>$ 50</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>	

                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/dd6.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>Itaque earum rerum hic tenetur </h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>

                  <div class="menu-text-right">
                    <h4>$25</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/dd5.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>Itaque earum rerum hic tenetur </h6>
                      </div>
                    
                      <div class="clearfix"> </div>
                    </div>
                  <div class="menu-text-right">
                    <h4>$30</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
              <div class="clearfix"> </div>
            </div>

    </div>
  </div>
  </div>
</div>
</div>
 -->
 <div class="agile_menu" id="menu">
    <div class="container">
   
  
  <h3 class="w3_heade_tittle_agile">menu...</h3>
  <p class="sub_t_agileits">Created by tienkhoa</p>
  <div class="menu_w3ls_agile_top_section">
  <div class="w3l_chill"> 
          <img src="assets/images/ab1.jpg" alt=" " class="img-responsive">
      </div> 
    <div class="ziehharmonika">
<ul>
  <li *ngFor="let category of category">
    <h3>{{category.name}}</h3>
    <div>
        <div class="w3_agile_recipe-grid">
                  <div class="col-md-6 menu-grids">
                  <div class="menu-text">
                        
                    <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m1.jpg" alt=" " class="img-responsive">
                      </div>
                         <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                    <div class="menu-text-right">
                      <h4>$ 50</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>	

                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m2.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                  <div class="menu-text-right">
                    <h4>$25</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m3.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                    
                      <div class="clearfix"> </div>
                    </div>

                  <div class="menu-text-right">
                    <h4>$30</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
                 <div class="col-md-6 menu-grids">
                  <div class="menu-text">
                        
                    <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m4.jpg" alt=" " class="img-responsive">
                      </div>
                         <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                    <div class="menu-text-right">
                      <h4>$ 50</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>	

                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m5.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                         <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>

                  <div class="menu-text-right">
                    <h4>$25</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="menu-text">
                  <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="assets/images/m6.jpg" alt=" " class="img-responsive">
                      </div>
                       <div class="rep-w3l-text">
                        <h4>Lorem ipsum dolor............</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                    
                      <div class="clearfix"> </div>
                    </div>
                  <div class="menu-text-right">
                    <h4>$30</h4>
                  </div>
                  <div class="clearfix"> </div>
                </div>
              </div>
              <div class="clearfix"> </div>
            </div>

    </div>
  
  </li>
</ul>
    </div>
    </div>
  
    </div>
    </div>