<!-- <div class="agile_menu" id="menu">
    <div class="container">
   
  
  <h3 class="w3_heade_tittle_agile">{{menus.menu.name}}</h3>
 
  <button class="fa fa-long-arrow-left btn btn-danger" [routerLink]="['/manager/menu']">Back</button>
   <button class="fa fa-plus btn btn-primary" [routerLink]="['/menu', menus.menu._id,'create-category']">Add new category</button>
  <div class="menu_w3ls_agile_top_section">
  <div class="w3l_chill"> 
          <img src="assets/images/ab1.jpg" alt=" " class="img-responsive">
      </div> 
    <div class="ziehharmonika">
<ul style="list-style-type:none">
  <li *ngFor="let menu of menus.menu_categories">
    <h3 [routerLink]="['/category', menu._id]"> >{{menu.name}}</h3>
  
  </li>
</ul>
    </div>
    </div>
  
    </div>
    </div> -->

    <div class="w3l-about jarallax" id="gallery">
        <div class="container">
          <div class="w3-agile-title">
            <p><i class="fa fa-cutlery" aria-hidden="true"></i></p>
            <div class="w3-agile-title-pos">
              <h3 class="agileits-title">{{menus.menu.name}}</h3>
            </div>
            
          </div>
          <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs" role="tablist" >
                <!-- <li role="presentation" class="active"><a href="#home-main" id="home-tab" role="tab" data-toggle="tab" aria-controls="home-main" aria-expanded="true">All</a></li> -->
                <li role="presentation" *ngFor="let menu of menus.menu_categories"><a (click)="getCategoryDetail(menu._id)" style="cursor: pointer" >{{menu.name}}</a></li>
                <!-- <li role="presentation"><a href="#playing" role="tab" id="playing-tab" data-toggle="tab" aria-controls="playing">main course</a></li>
                <li role="presentation"><a href="#painting" role="tab" id="painting-tab" data-toggle="tab" aria-controls="painting">salads</a></li>
                <li role="presentation"><a href="#school" role="tab" id="school-tab" data-toggle="tab" aria-controls="school">desserts</a></li> -->
              </ul>

              <div *ngIf=(items) id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="home-tab">
                
                   <div class="w3_tab_img">
                    <ul class="item" *ngFor="let item of items.category_items">
                   
                      <li  class="col-md-3 col-sm-1">
                          <div class="w3_tab_img_left">
                            <div class="demo">
                              <a class="cm-overlay" href="assets/images/g2.jpg">
                                <figure class="imghvr-shutter-in-out-diag-2"><img src="data:image/png;base64,{{item.imgdata}}" style="width:300px; height:200px" alt=" " class="img-responsive" />
                                </figure>
                              </a>
                            </div>
                            <div class="agile-gallery-info">
                              <h5>{{item.name}}</h5>
                              <p>Made by {{item.ingredient}}</p> <span style="font-weight:bolder; color:red">{{item.price}}$</span>
                            </div>
                          </div>
                   </li>
                 
                  
                        </ul>
                        
                     </div> 
                   
      
                    
                  
                 
                  </div>
                </div>
                
                
                
          </div>
          
        </div>
      </div>