<div class="container">
<div class="menu_w3ls_agile_top_section">
  
    <div class="ziehharmonika">
<h3 style="text-transform: uppercase">{{items.category.name}}</h3>
<button [routerLink]="['/category', items.category._id,'create-item']">Add new item</button>
  </div>
  <ul style="list-style-type:none">
    <li *ngFor="let item of items.category_items">
    <div>
        <div class="w3_agile_recipe-grid">
                  <div class="col-md-6 menu-grids">
                  <div class="menu-text">
                        
                    <div class="menu-text-left">
                      <div class="rep-w3l-img">
                        <img src="data:image/png;base64,{{item.imgdata}}" alt=" " class="img-responsive">
                      </div>
                         <div class="rep-w3l-text">
                         <h4>{{item.name}}</h4>
                        <h6>with wild mushrooms and asparagus</h6>
                      </div>
                      
                      <div class="clearfix"> </div>
                    </div>
                    <div class="menu-text-right">
                      <h4>$ {{item.price}}</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>	
              </div>
              
              <div class="clearfix"> </div>
            </div>

    </div>
  </li>
   </ul> 
  </div>
</div>