<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="agile_footer_copy">
      <div class="w3agile_footer_grids">
        <div class="col-md-4 w3agile_footer_grid">
        </div>
        <div class="col-md-4 w3agile_footer_grid">
          <h3>Contact Info</h3>
          <ul>
            <li>
              <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>101/60 Nguyen Chi Thanh St.,District 5,
              <span>Ho Chi Minh City.</span>
            </li>
            <li>
              <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
              <a href="mailto:info@example.com">votienkhoa9c1011@gmail.com</a>
            </li>
            <li>
              <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
          </ul>
        </div>
        <div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1">
          <h3>Navigation</h3>
          <ul>
            <li>
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              <a class="scroll" routerLink='/about'>About</a>
            </li>
            <li>
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              <a class="scroll" href="/menu">Menu</a>
            </li>
            <li>
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              <a class="scroll" href="#contact">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="w3_agileits_copy_right_social">
      <div class="col-md-6 agileits_w3layouts_copy_right">
        <p>&copy; 2017 Flavorful. All rights reserved | Design by
          <a href="http://w3layouts.com/">W3layouts</a>
        </p>
      </div>
      <div class="col-md-6 w3_agile_copy_right">
        <ul class="agileinfo_social_icons">
          <li>
            <a href="#" class="w3_agileits_facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="wthree_twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="agileinfo_google">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
          </li>

        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //footer -->