<!-- <div class="book-form agileits-login">
  <form name="form" (ngSubmit)="register()">
    <div class="agileits_reservation_grid">
      <div class="span1_of_1 ">
        <label>USERNAME : </label>
        <div class="book_date">
          <i class="fa fa-user" aria-hidden="true"></i>
          <input id="username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required>

        </div>
      </div>
      <div class="span1_of_1">
       
        <label>PASSWORD : </label>
        <div class="section_room">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          <input id="password" type="password" [(ngModel)]="model.password" name="password" #password="ngModel" required>
        </div>
      </div>
      <div class="span1_of_1">
        
        <label>CONFIRM PASSWORD : </label>
        <div class="section_room">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          <input id="password_confirm" type="password" required="">
        </div>
      </div>
      <div class="span1_of_1">
       
        <label>ROLE </label>
        <div class="section_room">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <select id="country" name="role" [(ngModel)]="model.role" #role="ngModel" required="">
            <option role="viewer">viewer</option>
            <option role="manager">manager</option>
          </select>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <input type="submit" value="Register">

    <a id="cancel" [routerLink]="['/login']" class="btn btn-link">Cancel</a>
  </form>
</div> -->

<div class="agile-login">
  <h1>Register Form</h1>
  <div class="wrapper">
    <h2>Create new account</h2>
    <div class="w3ls-form">
      <form (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <label>Username</label>
        <input [ngClass]="{ 'has-error': f.submitted && !username.valid }" id="username" type="text" placeholder="Username" name="username"
          [(ngModel)]="model.username" #username="ngModel" required>
        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        <label>Password</label>
        <input [ngClass]="{ 'has-error': f.submitted && !password.valid }" id="password" type="password" name="password" placeholder="Password"
          [(ngModel)]="model.password" #password="ngModel" required>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        <label>Role</label>
        <select id="country" name="role" [(ngModel)]="model.role" #role="ngModel" required="">
          <option role="viewer">viewer</option>
          <option role="manager">manager</option>
        </select>
        <div *ngIf="f.submitted && !role.valid" class="help-block">Please choose your role</div>
        <input type="submit" value="Register" />
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        <a id="cancel" [routerLink]="['/login']"> Cancel</a>
      </form>
    </div>


  </div>
  <br>

</div>