<div class="book-form agileits-login">
  <form action="#" method="post">
    <div class="agileits_reservation_grid">
      <div class="span1_of_1">
        <label>USERNAME : </label> 
        <div class="book_date"> 
          <i class="fa fa-user" aria-hidden="true"></i>
            <input id="username" name="Text" type="text"  required="">

        </div>					
      </div>
      <div class="span1_of_1">
        <!-- start_section_room -->
        <label>PASSWORD : </label>
        <div class="section_room">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          <input  id="username" type="password"  required="">
        </div>	
      </div>
      <div class="span1_of_1">
        <!-- start_section_room -->
        <label>CONFIRM PASSWORD : </label>
        <div class="section_room">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          <input  id="username" type="password"  required="">
        </div>	
      </div>
      <div class="span1_of_1">
        <!-- start_section_room -->
        <label>ROLE </label>
        <div class="section_room">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <select id="country" onchange="change_country(this.value)" class="frm-field required">
            <option value="null">User</option>
            <option value="null">Restaurant Manager</option>         
          </select>
        </div>	
      </div>
      <div class="clearfix"></div>
    </div> 
    <input type="submit" value="Register">
    </form>
</div>

