<!-- <div class="book-form agileits-login">
  <form name="form" (ngSubmit)="register()">
    <div class="agileits_reservation_grid">
      <div class="span1_of_1 ">
        <label>USERNAME : </label>
        <div class="book_date">
          <i class="fa fa-user" aria-hidden="true"></i>
          <input id="username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required>

        </div>
      </div>
      <div class="span1_of_1">
       
        <label>PASSWORD : </label>
        <div class="section_room">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          <input id="password" type="password" [(ngModel)]="model.password" name="password" #password="ngModel" required>
        </div>
      </div>
      <div class="span1_of_1">
        
        <label>CONFIRM PASSWORD : </label>
        <div class="section_room">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          <input id="password_confirm" type="password" required="">
        </div>
      </div>
      <div class="span1_of_1">
       
        <label>ROLE </label>
        <div class="section_room">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <select id="country" name="role" [(ngModel)]="model.role" #role="ngModel" required="">
            <option role="viewer">viewer</option>
            <option role="manager">manager</option>
          </select>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <input type="submit" value="Register">

    <a id="cancel" [routerLink]="['/login']" class="btn btn-link">Cancel</a>
  </form>
</div> -->

<div class="agile-login">
  <h1>Register Form</h1>
  <div class="wrapper">
    <h2>Create new account</h2>
    <div class="w3ls-form">
      <form (ngSubmit)="register()">
        <label>Username</label>
        <input id="username" type="text" placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel"
          required>
        <label>Password</label>
        <input id="password" type="password" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel"
          required>
        <label>Role</label>
        <select id="country" name="role" [(ngModel)]="model.role" #role="ngModel" required="">
          <option role="viewer">viewer</option>
          <option role="manager">manager</option>
        </select>
        <input type="submit" value="Register" />

        <a id="cancel" [routerLink]="['/login']"> Cancel</a>
      </form>
    </div>


  </div>
  <br>

</div>