<h1 style="text-align:center">Create new category </h1>
<br>
<br>
<div class="book-form agileits-login">
  <form (ngSubmit)="f.form.valid && createCategory()" #f="ngForm">
    <div class="agileits_reservation_grid">
      <div class="span1_of_1">
        <label>Category Name: </label>
        <div class="book_date">
          <i class="fa fa-keyboard-o" aria-hidden="true"></i>
          <input id="name" type="text" name="name" [(ngModel)]="category.name" #name="ngModel" required>
          <div *ngIf="f.submitted && !name.valid" class="help-block">Category name is required</div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <input [disabled]="loading" type="submit" value="Create now!">

  </form>
</div>